
.banner-image {
  background-image: url("http://localhost:8080/jobs/images/banner.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.largWin {
    padding:20px;
    background-color:#fff;
    border:1px solid #ccc;
    display:none;
    z-index: 99999;
    width:400px;
    height:400px;
    position:absolute;
    overflow:scroll;
}
#mask {
    display: none;
    background: #666;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    -moz-opacity:0.80;
    opacity:0.80;
    z-index: 999;
}
.close {
    font:2em tahoma;
    color:red;
    text-decoration:none;
}
